hw3/msong_slhw.rdata
hw4/o_cost_test.rdata
hw4/o_cost_train.rdata
hw4/phonetest1.rdata
hw4/phonetrain.rdata
hw5/hw5ds1.rdata
hw6/hw5ds1.rdata
hw6/hw6ds1.rdata
hw5/.RData
hw5/.Rhistory
hw6/.RData
hw6/.Rhistory
hw6/50kpred.rdata
hw6/hw6q2.nb.html
hw7/cwsas_train_v2.rdata
